@import models.users.UserInfo
@(loginForm : Form[UserInfo])

@import helper._

@import b3.vertical.fieldConstructor

@main {

    <h1>Log in</h1>
    <a href="@routes.UserController.login()" class="btn">English</a>
    <a href="@routes.UserController.login_CN()" class="btn">简体中文</a>
    @b3.form(routes.UserController.doLogin()) {

        <fieldset>
            @b3.text(loginForm("emailID"), '_label -> "Email:", '_help -> "", '_showErrors -> true)
            @b3.password(loginForm("password"), '_label -> "Password:", '_help -> "", '_showErrors -> true)
            @b3.select(
                loginForm("type"),
                options = Seq(
                    "Customer" -> "Customer",
                    "Developer" -> "Developer"
                ),
                '_label -> "User Role", '_default -> "-- Choose a user type --",
                '_showConstraints -> false
            )

        </fieldset>

        <div class="actions">
            <input type="submit" value="Log in" class="btn primary"> &nbsp;&nbsp;
            <a href="@routes.UserController.register()" class="btn">New user? Sign up here!</a>
        </div>

    }

}