@import models.question.QuestionPostCenter
@import models.product.Product
@import java.util.List
@(questionPoster: QuestionPostCenter)

@import helper._

@import b3.vertical.fieldConstructor


@main {

    <h1>All questions posted by you:</h1>



    <table class="computers zebra-striped">
        <thead>
            <tr>
                <th>Question:</th>
                <th>About product name:</th>
                <th>Answer:</th>
            </tr>
        </thead>
        <tbody>
        @for(question <- questionPoster.questions) {
            <tr>
                <td>@question.content</td>
                <td>@Product.find.byId(question.productID).name</td>
                <td>@question.answer</td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn default" href="@routes.QuestionController.postQuestion()">Post new questions</a>
    <a class="btn primary" href = "@routes.ProductController.index()">Back</a>
}